<!DOCTYPE html>
<html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- <link rel='stylesheet' href='/stylesheets/prompt.css' /> -->
    </head>
    <body class>
        <div class="square_box box_three"></div>
        <div class="square_box box_four"></div>
        <div class="square_box box_five"></div>
        <div class="nav">
            <a href="login">Login/Register</a>
            <a href="/" style="float: left;">Home/logo</a>
        </div>
    </body>
</html>