@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

a {
  text-decoration: none;
}
.product-card {
  width: 230px;
  margin-right: 30px;
  border-radius: 50px;
  margin-top: 60px;
  float: left;
  position: relative;
  box-shadow: 0 2px 7px #0fbcf9;
  background: #dcdde1;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 50px;

}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #0fbcf9;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h5 a:hover {
  color: #0fbcf9;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #0fbcf9;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #0fbcf9;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #0fbcf9;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #0fbcf9;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #0097e6;
}

